/* Styles pour le header et la navbar */
header {
    background-color: #ff3333;
    /* Rouge */
    color: #2980B9;

    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Permettra aux éléments de passer à la ligne quand l'espace est insuffisant */
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Styles pour le header et la navbar */
/* Ajoutez vos styles pour le header et la navbar ici */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2980B9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    /* Aligner le menu déroulant sur le bord droit de l'élément parent par défaut */
    left: auto;
    /* Réinitialiser le left à auto pour qu'il s'affiche à droite */
    top: 100%;
    /* Positionner le menu déroulant juste en dessous de l'élément parent par défaut */
}

/* Ajuster la position du menu déroulant pour les écrans plus petits (mobile) */
@media (max-width: 600px) {
    .dropdown-content {
        bottom: auto;
        /* Réinitialiser la position verticale */
        top: 0;
        /* Positionner le menu déroulant juste en dessous de l'élément parent */
        right: auto;
        /* Réinitialiser le right */
        left: 100%;
        /* Aligner le menu déroulant sur le bord gauche de l'élément parent */
        transform: translateX(-100%);
        /* Déplacer le menu déroulant vers la gauche pour qu'il soit entièrement visible */
    }
}

/* Styles pour le footer */
/* Ajoutez vos styles pour le footer ici */


/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.show {
    display: block;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* Ajustez la hauteur selon vos besoins */
    background-image: url(screen/f4mdJ7.jpg);
    background-size: cover;
    /* L'image de fond couvrira entièrement la section */
    background-repeat: no-repeat;
    position: relative;
}

/* Style pour le titre "welcome-title" */
.welcome-title {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    /* Couleur du texte en blanc pour le contraste avec l'image de fond */
    text-align: center;
    /* Centrer le texte horizontalement */
    margin-bottom: 16px;
    /* Ajoutez une marge en bas pour espacer le titre du paragraphe */
    position: relative;
    z-index: 1;
}

/* Style pour le paragraphe */
.welcome-section h3 {
    font-size: 30px;
    color: #000000;
    /* Couleur du texte en blanc pour le contraste avec l'image de fond */
    text-align: center;
    /* Centrer le texte horizontalement */
    position: relative;
    z-index: 1;
}




/* Style pour le reste des sections */
.hero-section {
    /* Ajoutez le style pour la classe .hero-section ici */
}

.card-grid {
    /* Ajoutez le style pour la classe .card-grid ici */
}



/* Styles pour le footer */
footer {
    background-color: #ff3333;
    /* Rouge */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Styles pour les cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Les cards seront côte à côte de gauche à droite */
}

:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
}

.hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        margin-left: 10%;
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

/* Afficher le texte "Description" lorsqu'on survole la carte */
.card__content {
    color: white;
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

/* Style initial du texte "Description" (invisible) */
.card__content h4 {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    /* Transition d'apparition du texte */
}

.card:hover .card__content h4 {
    opacity: 1;
    /* Le texte "Description" devient visible lorsqu'on survole la carte */
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}



.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

/*page search*/

/* Style pour la barre de recherche */
.search-container {
    display: grid;
    grid-template-columns: 1fr auto;
    /* Utilise une colonne flexible pour l'entrée et un bouton fixe */
    gap: 8px;
    /* Ajoute un espace de 8px entre l'entrée et le bouton */
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#search-input {
    width: 100%;
    /* Utilise 100% de la largeur disponible par défaut */
    max-width: 35rem;
    /* Largeur maximale de 35rem (560px) */
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}

#search-button {
    padding: 8px 16px;
    font-size: 16px;
}

.Description-section {
    background-image: url(screen/718222.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* La hauteur de la section sera égale à la hauteur de l'écran (viewport) */
}

.presentation-text {
    max-width: 100%;
    padding: 0 20px;
    word-wrap: break-word;
    min-height: 100vh; /* La hauteur minimale de la section sera égale à la hauteur de l'écran (viewport) */
    font-size: 1.5rem; /* Taille de police similaire à celle d'un h3 */
    line-height: 1.5; /* Hauteur de ligne similaire à celle d'un h3 */
    color: #000; /* Couleur de texte */
    text-align: justify; /* Alignement du texte justifié */
}
